/* para los estilos en el archivos: 
    selector{
    propiedad: valor de la propiedad
    }
    
    */


    p{
        /*  */
        font-size: 35px;
    color: saddlebrown;
    }

    /* 1. Selector con ID, Usarlo preferentemente una sola vez */

    #colorMarron{
        color: brown;
    }

    /* 2. Selector de CLASE; si lo podemos utilizar más de una vez */

    .colorFondo{
        background: violet;
        color: black;
    }

    .textoGrande{
        font-size: 60px;
    }